@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

$colors : (    color1: #000505,
    color2: #663399,
    color3: #3B3355,
    color4: #BFCDE0,
    color5: #FEFCFD
);


@function color($name) {
    @return map-get($colors, $name); 
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}



h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    color: color(color2);
}

p {
    font-family: 'Nunito', sans-serif;
}